@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Indie+Flower|Libre+Barcode+39+Extended+Text');
body{
    color: #666;
    margin-top:115px;
    font-size:12px;
    
}
.header{
    height: 110px;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
    /* border:solid 1px #eee; */
}
marquee{
    font-size: em;
}

.top{
    background:#000; position:relative; height:35px;
}
/* 위젯 스타일 */
#m-booked-small-t3-52426 {
    position:absolute;
    right:30px;
    top:0;
}
.booked-weather-160x36{
    background:none !important;
}

#m-booked-small-t3-52426 .booked-weather-160x36-city{
    width:30px !important;
}
#m-booked-small-t3-52426 .booked-weather-160x36{
    width:80px !important;
}
.phone{
    float: right;
   
}
.logo{
    float: left;
    
}
.logo img{
    width:400px;
    padding-top: 25px;
    padding-left: 30px;

}

.phone img{
   height: 75px;
    
}

.side a{
   font-size: 1.4em;
}

/* .side li{
    padding-top: 40px;
    padding-left: 20px;
} */
.side a{
    display: block;
    padding:40px 20px;
    border-bottom:solid 1px #ccc;
}
.side a.active{
    color:#fff;
    background-color: #666;
    
}
.side{
    width: 305px;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    padding-top:110px;
    background:#efefef;
    z-index: 1;
}


.content{
    padding-left: 320px;
    padding-right:15px;
}   

.content img{
    width: 1170px;
    float: right; 

}

.content marquee{
    font-family: 'Indie Flower', cursive;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Abril Fatface', cursive;
   font-size:45px; 
  font-weight:bold;
  text-shadow:5px 3px 5px rgb(95, 92, 92);
   color: rgb(2, 2, 2);
   margin: 10px;

}

